os
subprocess
shlex
scapy
socket
time
sys
select
threading
re
struct
random
requests
urllib
readline
validators
argparse
hashlib
multiprocessing
json
optparse
signal
uuid
ctypes
dns.resolver
dns.rdatatype
tqdm
phonenumbers
colorama
pty
textwrap
shutil
pexpect
configparser
